@import "../../assets/colours.scss";

.draggable {
  background-color: $beige400;
  position: relative;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0;
  width: 42px;
  height: 42px;
  margin: 0 5px 0 5px;
  flex-shrink: 0;
  font-weight: 800;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.draggableIsDragging {
  z-index: 100;
}

.draggablePlayed {
  background-color: $beige200;
  border-color: rgba(0, 0, 0, 0.6);
  transform-origin: bottom center;
}

@keyframes bounce {
  from,
  4.0%,
  10.6%,
  20%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  8.0%,
  8.6% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) scaleY(1.1);
  }

  14.0% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0) scaleY(1.05);
  }

  16.0% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  18.0% {
    transform: translate3d(0, -2px, 0) scaleY(1.02);
  }
}

.draggableIsActive:not(.draggableIsDragging) {
  border-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 8px -2px rgb(0 0 0 / 45%);
  transition: transform 0.2s ease-in-out;
  transform: scale(1.03);
  will-change: transform;
  animation-name: bounce;
  transform-origin: center bottom;
  animation-delay: 0;
  animation-iteration-count: 2;
  animation-duration: 5.5s;
  animation-fill-mode: both;
}
