@import '../../assets/colours.scss';

.draggable {
  background-color: $beige400;
  position: relative;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.6);
  
  width: 42px;
  height: 42px;
  margin: 0 5px 0 5px;
  flex-shrink: 0;
  font-weight: 800;
  cursor: pointer;
  color: rgba(0,0,0,0.6);
}

.draggableIsDragging {
  z-index: 100;
}

.draggablePlayed {
  background-color: $beige200;
  border-color: rgba(0,0,0,0.3);
}

.draggableIsActive {
  background-color: red;;
}
