//   _      __            _____               __
//  | | /| / /__  _______/ / _ \___ ___ _____/ /
//  | |/ |/ / _ \/ __/ _  / , _/ -_) _ `/ __/ _ \
//  |__/|__/\___/_/  \_,_/_/|_|\__/\_,_/\__/_//_/
//                      A 201 Studio original ❤︎

@import "../../device";
@import "../../assets/colours";

$letterBoxBorder: 2px;
$letterBoxMargin: 1px;
$width: calc((100% - ($letterBoxMargin * 14)) / 8);
$borderColor: rgba(0, 0, 0, 0.2);

.letterBox {
  width: $width;
  border: $letterBoxBorder solid $borderColor;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin: $letterBoxMargin;
  font-size: 20px;
  text-align: center;
  min-height: 20px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  &:nth-child(8n + 1) {
    margin-left: 0px;
    background-color: $blue200;
    border-color: $borderColor;
  }
  &:nth-child(8n + 8) {
    margin-right: 0px;
    background-color: $green200;
    border-color: $borderColor;
  }
  display: flex;
  position: relative;
  .draggable {
    // This is horrible
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    margin: auto;
  }
  .draggableIsDragging {
    z-index: 100;
  }
}

@supports not (aspect-ratio: 1/1) {
  $width: calc((100vw - ($letterBoxMargin * 14)) / 9);
  .letterBox {
    width: $width;
    height: $width;
  }
}

.letterBoxActiveLetter {
  display: none;
}
@media (point: fine) {
  .letterBoxWithHover:hover {
    background-color: rgba(0, 0, 0, 0.4);
    .letterBoxActiveLetter {
      display: block;
    }
  }
}
