//   _      __            _____               __
//  | | /| / /__  _______/ / _ \___ ___ _____/ /
//  | |/ |/ / _ \/ __/ _  / , _/ -_) _ `/ __/ _ \
//  |__/|__/\___/_/  \_,_/_/|_|\__/\_,_/\__/_//_/

// .title {
//   display: block;
//   clear: both;
//   width: 100%;
//   position: relative;
// }
.letterSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.letterGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.playableLettersWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:30px 0;
}