.footer {
  background: white;
  grid-area: footer;
  padding: 10px;
  border-top: 1px solid rgb(223, 223, 223);
  width: 100%;
  text-align: center;
}

.copyright {
  font-size: 13px;
}

.footer button {
  margin: 0 0 3px 0;
  padding-top: 0px;
}
