.footer {
  margin-top: 40px;
  padding: 10px;
  border-top: 1px solid rgb(223, 223, 223);
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.copyright {
  font-size: 13px;
}

.footer button {
  margin: 0 0 3px 0;
  padding-top: 0px;
}