
$landColour: green;
$landBorderColour: #066306;

$letterBoxColour: rgb(186, 186, 186);



$blue200: #98BEC9;
$blue400: #25748D;
$green200: #C4E8B7;
$green400: #73C755;
$beige: #EFE6D5;
$beige400: #EFE6D5;
$beige200: #FAF8F2;
$outline: #615ee1;
