@mixin fixedFullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.modal {
  @include fixedFullscreen;
  margin: auto;
  background-color: white;
  width: 390px;
  max-width: calc(100% - 30px);
  text-align: center;
  padding: 22px 16px;
  height: max-content;
  max-height: 85vh;
  border: 2px solid black;
  box-shadow: 0 2px 12px -4px rgb(0 0 0 / 60%);
  overflow: auto;
  h2 {
    margin-bottom: .6em;
  }
  p {
    margin-bottom: .6em;
    font-size: 14px;
    @media (min-width: 600px) {
      font-size: 16px;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
}


.backdrop {
  @include fixedFullscreen;
  background: rgba(0,0,0,0.3);
  position: fixed;
}
